---
import BaseLayout from '~/components/layout/base-layout.astro';
import { getPostsCollection, getTags } from '~/libs/mdx/post';
import PostList from '~/components/post-list';
import { title } from 'process';

const posts = await getPostsCollection();
const tags = getTags(posts);
---

<BaseLayout seo={{ title: 'Posts' }}>
  <h1 class="font-display text-5xl font-bold">Posts</h1>
  <PostList client:load posts={posts} tags={tags} />
</BaseLayout>
