---
import { BackIcon } from '~/components/ui/icons';
import ThemeToggle from '~/components/ui/theme-toggle.astro';

const isRoot = Astro.url.pathname === '/';
---

<div class="mb-10 flex items-center gap-2 font-serif font-semibold">
  {
    !isRoot && (
      <a
        class="hover:bg-gray-soft inline-block rounded-md p-1 text-2xl transition active:scale-95"
        href="/"
      >
        <BackIcon />
      </a>
    )
  }
  <ThemeToggle class="ml-auto" />
</div>
