---
import '~/styles/global.css';
import '~/styles/custom.css';

import { ClientRouter } from 'astro:transitions';

import { cfg } from '~/cfg';
import BaseHead from '~/components/layout/base-head.astro';
import BaseNav from '~/components/layout/base-nav.astro';
import BaseFooter from '~/components/layout/base-footer.astro';
import type { SEO } from '~/lib/types';

type Props = {
  seo?: SEO;
};

const { seo, ...props } = Astro.props;
---

<html lang={cfg.lang}>
  <head>
    <BaseHead {seo} />
    <ClientRouter />
  </head>
  <body>
    <div class="blur-layer" aria-hidden="true"></div>
    <main {...props}>
      <BaseNav />
      <slot />
    </main>
    <BaseFooter />
  </body>
</html>
