---
import type { CollectionEntry } from 'astro:content';

interface Props {
  relatedPosts: CollectionEntry<'posts'>[];
}

const { relatedPosts } = Astro.props;
---

{
  relatedPosts.length && (
    <div class="text-text-2">
      <p>Related Posts</p>
      <ul>
        {relatedPosts.map((p) => {
          return (
            <li>
              <span class="font-mono">&gt; </span>
              <a class="link text-text-1" href={`/posts/${p.slug}`}>
                {p.data.title}
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
