---
import BaseLayout from '~/components/layout/base-layout.astro';
---

<BaseLayout seo={{ title: '404' }}>
  <h1 class="font-display text-5xl font-bold">Not found</h1>
  <div class="mt-14">
    <p>This page doesn't exist.</p>
    <p>Hope you'll find what you're looking for.</p>
  </div>
</BaseLayout>
