---
import { cn } from '~/libs/utils';
import { MoonIcon, SunIcon } from '~/components/ui/icons';
---

<button
  data-theme-toggle
  transition:persist
  class={cn(
    'hover:bg-gray-soft inline-block rounded-md p-1 transition active:scale-95',
    Astro.props.class,
  )}
>
  <span class="sr-only">toggle theme</span>
  <MoonIcon data-theme-icon="moon" width="20" height="20" />
  <SunIcon
    data-theme-icon="sun"
    width="20"
    height="20"
    style={{ display: 'none' }}
  />
</button>

<script>
  import { changeGiscusTheme } from '~/components/giscus';
  import { STORAGE_THEME_KEY, THEME_MAP } from '~/libs/theme';

  const themeList = Object.keys(THEME_MAP);

  function updateIcon(theme: string) {
    const isDark = theme === 'dark';
    document.querySelectorAll('[data-theme-icon="moon"]').forEach((el) => {
      (el as HTMLElement).style.display = isDark ? 'none' : '';
    });
    document.querySelectorAll('[data-theme-icon="sun"]').forEach((el) => {
      (el as HTMLElement).style.display = isDark ? '' : 'none';
    });
  }

  function switchTheme() {
    const currentThemeIndex = themeList.findIndex((c) =>
      document.documentElement.classList.contains(c),
    );
    if (currentThemeIndex !== -1) {
      document.documentElement.classList.remove(themeList[currentThemeIndex]);
    }

    const nextTheme = themeList[(currentThemeIndex + 1) % themeList.length];
    localStorage.setItem(STORAGE_THEME_KEY, nextTheme);
    document.documentElement.classList.add(nextTheme);
    changeGiscusTheme(nextTheme);
    updateIcon(nextTheme);
  }

  function onToggleTheme() {
    if (!document.startViewTransition) switchTheme();
    document.startViewTransition(switchTheme);
  }

  function initClickListener() {
    const currentTheme =
      themeList.find((c) => document.documentElement.classList.contains(c)) ??
      'light';
    updateIcon(currentTheme);

    document.querySelectorAll('[data-theme-toggle]').forEach((button) => {
      button.addEventListener('click', onToggleTheme);
    });
  }

  document.addEventListener('DOMContentLoaded', initClickListener);
  document.addEventListener('astro:page-load', initClickListener);
</script>
